@font-face {
font-family: 'Montserrat';
src: url(../assets/font/Montserrat-Regular.ttf) format("truetype");
font-style: normal;
font-weight: 400;
}
@font-face {
font-family: 'Montserrat';
src: url(../assets/font/Montserrat-Medium.ttf) format("truetype");
font-style: normal;
font-weight: 500;
}
@font-face {
font-family: 'Montserrat';
src: url(../assets/fonts/Montserrat-SemiBold.ttf) format("truetype");
font-style: normal;
font-weight: 600;
}



:root {
    --h1: 96px;
    --h2: 36px;
    --p: 24px;
    --columnNumber: 12;
    --columnWidth:calc(100vw/var(--columnNumber));
}


* {
    box-sizing: border-box;
}

:not(input):not(select):not(textarea) {
    cursor:default;
}


html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #fff;
    position: relative;
    scrollbar-width: none;
    font-family: 'Montserrat';
}

h1 {
    font-weight: 600;
    font-size: var(--h1);
    line-height: 0;
}
h2 {
    font-weight: 600;
    font-size: var(--h2);
}
p {
    font-weight: 400;
    font-size: var(--p);
    line-height: 1.5;
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    display: block;
}
.mainContainer {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: var(--columnWidth) calc(5*var(--columnWidth)) calc(4.5*var(--columnWidth));
    gap: calc(.5*var(--columnWidth));
}
.sideBar {
    display: grid;
    height: 100vh;
    width: var(--columnWidth);
    grid-template-rows: var(--columnWidth) auto calc(var(--columnWidth)/4);
    background-color: #fff;
    border: 1px solid #000;
}

.logo {
    display: block;
    width: var(--columnWidth);
    height: var(--columnWidth);
    background-image: url(../assets/images/Logo.svg);
    background-position: center;
    background-size: 64%;
    background-repeat: no-repeat;
}

.socialMediaContainer {
    display: flex;
    width: var(--columnWidth);
    height:100%;
    flex-direction: column;
    justify-content: flex-end;
}

.socialMedia {
    display: block;
    width: var(--columnWidth);
    height: calc(var(--columnWidth)/2);
    background-position: center;
    background-size: calc(var(--columnWidth)/4) auto ;
    background-repeat: no-repeat;
}

#github {
    background-image: url(../assets/images/Github.svg);
}

#discord {
    background-image: url(../assets/images/Discord.svg);
}

#telegram {
    background-image: url(../assets/images/Telegram.svg);
}

#twitter {
    background-image: url(../assets/images/Twitter.svg);
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.infoContainer {
    display: flex;
    width: 100%;
    height: 75%;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(2.25*var(--columnWidth));
    border: 1px solid #000;
}

.brief {
    display: block;
    width: 100%;
    height: fit-content;
}
.button {
    display: block;
    width: calc(3.5*var(--columnWidth));
    max-width: 356px;
    height: 65px;
    font-weight: 500;
    font-size: 18px;
    line-height: 65px;
    text-align: center;
    overflow: hidden;
}

.dark {
    background: #000;
    color: #fff;
}
.light {
    background:#fff;
    color:#000;
    border: 1px solid #000;
}

.socialMediaContainerMobile {
    display: none;
}

.personaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.persona {
    display: block;
    width: 100%;
    height: 75%;
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    border: 1px solid #000;
    background-image: url(../assets/images/RSS3Personasvg.svg);
}

.footer {
    font-size: 18px;
    font-weight: 400;
    position: fixed;
    right: calc(.5*var(--columnWidth));
    bottom: calc(var(--columnWidth)/3);
}
 .footerMobile {
     display: none;
 }

@media screen and (max-width: 1000px){

    .mainContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-top: 32px;
        min-height: 100vh;
        height: fit-content;
    }

    .sideBar {
        display: none;
    }

    .contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
        height: 100%;
        overflow:hidden;
    }
    .infoContainer {
        display: flex;
        width: 100%;
        /* height: 75%; */
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .titleContainer {
        height: 100%;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .button {
        display: block;
        width: 100%;
        min-width: 512px;
        height: 65px;
        font-weight: 500;
        font-size: 18px;
        line-height: 65px;
        text-align: center;
        margin-top: 5%;
    }
    .socialMediaContainerMobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 65px;
        width: 100%;
        max-width: 75%;
        margin-top: 5%;
    }

    .socialMedia {
        display: block;
        width: 65px;
        height: 65px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    #github {
        background-image: url(../assets/images/Github_mb.svg);
    }
    
    #discord {
        background-image: url(../assets/images/Discord_mb.svg);
    }
    
    #telegram {
        background-image: url(../assets/images/Telegram_mb.svg);
    }
    
    #twitter {
        background-image: url(../assets/images/Twitter_mb.svg);
    }

    .personaContainer {
        display: flex;
        width: 85%;
        height: fit-content;
        justify-content: center;
        align-items: center;
        /* margin-top: 5%; */
    }
    
    .persona {
        display: block;
        /* position: relative; */
        width: 85%;
        min-height: 768px;
        /* background-image: none; */
        /* padding: 5%; */
    }   
    .footer {
        display: none;
    }
    .footerMobile {
        display: block;
        font-size: 18px;
        font-weight: 400;
        /* position: relative; */
        padding-bottom: 32px;
    }
    

}
